
td.process-api-status {
  text-align: center;
}

div.process-api-edit-menu {
  position: absolute;
  background-color: white;
  color: black;
  z-index: 999;
  border: 1px solid black;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

div.process-api-edit-menu ul {
  margin: 0 0.5em;
  padding: 0;
}

div.process-api-edit-menu ul li {
  padding: 0;
  list-style-type: none;
  display: block;
}

div.process-api-edit-menu.collapsed {
  display: none;
}

input.process-api-cron-limit {
  text-align: right;
}
